### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

# End of https://www.gitignore.io/api/eclipse

#Borrowed from Tenere
.DS_Store
.lxproject
media
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# IntelliJ IDEA
.idea